.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  padding: 10px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  width: 100%; /* Set the width and height of the container */
  height: 280px;
  overflow: hidden;
}

.image-container img {
  width: 100%; /* Make sure the image fills the container */
  height: 100%;
  object-fit: cover; /* Cover the entire container */
}

.title {
  color: #152636;
  text-align: left;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0;
}

.info-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  font-family: "Helvelica";
}

.info-column {
  flex: 0 0 calc(50%);
  font-size: 15px;
  white-space: nowrap;
  line-height: 15%;
}

.business-category {
  font-size: 18px;
  color: #259faf;
  font-weight: 800;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.business-review {
  color: #259faf;
  font-weight: 800;
}
